<style>
    .footer-container {
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        padding: 4rem 7.5rem;
    }

    .footer-credits {
        display: flex;
        align-items: center;
        font-weight: 300;
    }

    .footer-credits p {
        margin: 0;
    }

    .footer-credits strong {
        font-weight: bold;
    }
</style>

<footer class="footer-container">
    <div class="footer-credits">
        <p>
            <strong>Rubi de Barrio</strong> 
            Ⓒ All rights reserved 
            <span id="currentYear"></span>
        </p>
    </div>

</footer>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
