
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubi de Barrio</title>
    <link rel="icon" type="image/png" href="assets/favicon_estrellita.png">
    <link rel="shortcut icon" id="favicon" type="image/png" href="assets/favicon_estrellita.png">

    <meta property="twitter:image" content="assets/thumbnail_cluedo.png"/>
    <meta property="og:image" itemprop="image" content="assets/thumbnail_cluedo.png"/>
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="317">
    <meta property="og:image:type" content="image/png">
    
    <meta property="twitter:title" content="Rubi de Barrio"/>
    <meta property="og:title" content="Rubi de Barrio"/>
    <meta property="og:site_name" content="Rubi de Barrio">
    <meta property="og:description" content=""/>

    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="{{ site.baseurl }}/styles/index.css">
    <link rel="stylesheet" href="/assets/css/base.css">


</head>