
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubi de Barrio</title>
    <link rel="icon" type="image/png" href="assets/favicon_estrellita.png">
    <link rel="shortcut icon" id="favicon" type="image/png" href="assets/favicon_estrellita.png">
    <meta property="og:image" content="assets\tablero_cluedo.png"/>
    <meta property="twitter:image" content="assets\tablero_cluedo.png"/>
    <meta property="twitter:title" content="Rubi de Barrio"/>
    <meta property="og:title" content="Rubi de Barrio"/>
    <meta property="og:description" content=""/>

    <link rel="stylesheet" href="{{ site.baseurl }}/styles/index.css">

</head>