:root {
    --clr_dark: #141a26;
    --clr_light: #d9e0e6;
    --max_width_1: 80rem;
    --accent_red_1: #cb0e3c;
    --accent_red_2: #C51040;
}

html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #cbc8e5;
    margin: 0;
}

main {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper {
    width: 100%;
    min-height: 80vh;
    justify-items: center;
}
section {
    margin-bottom: 5em;
    max-width: var(--max_width_1);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max_width_1);
    margin: 0 auto;
    padding: 0 20px;
}
nav a {
    color: #666;
    text-decoration: none;
}
nav a:hover {
    color: var(--accent_red_1);
}

/* ************************************* */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10; /* Ensure the header is on top */
}
.header-logo {
    max-height: 70px;
    filter: drop-shadow(-6px -2px 8px #cb0e3cb0);
}

/* ************************************* */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: var(--accent_red_1);
}
h1, h2, h3, h4, h5, h6, a, p, li {
    font-family: Courier, monospace;
    padding: 1.5em 0 1em;
    margin: 0;
}

body p {
    justify-self: center;
    text-align: justify;
    margin: 0 1.2rem;
    word-break: break-word;
}

