:root {
    --clr_dark: #141a26;
    --clr_light: #d9e0e6;
    --max_width_1: 1500px;
}

html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #cbc8e5;
    margin: 0;
}

main {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper {
    width: 100%;
    min-height: 80vh;
    
    margin: 0 10vw;
    max-width: var(--max_width_1);
    justify-items: center;
}
section {
    margin-bottom: 5em;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max_width_1);
    margin: 0 auto;
    padding: 0 20px;
}
nav a {
    color: #333;
    text-decoration: none;
}
nav a:hover {
    color: #cb0e3c;
}

/* ************************************* */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10; /* Ensure the header is on top */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: white; /* Ensure the text is visible on the GIF background */
    text-decoration: none;
}

nav img {
    max-height: 70px;
}

.hero {
    background-color: black;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    align-self: anchor-center;
    max-height: 85vh;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/*
.hero-content {
    position: absolute;
    text-align: center;
}
.hero-content h1 {
    color: white;
    font-size: xxx-large;
    text-align: justify;
}
*/

/* ************************************* */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #cb0e3c;
    padding: 1.5em 0 0.5em;
}
h1, h2, h3, h4, h5, h6, a, p, li {
    font-family: Courier, monospace;
    padding: 1.5em 0 0.5em;
}

body p {
    max-width: 90ch;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    word-break: break-word;
}

/* ************************************* */
.rubi_btn {
    background-color: #C51040;
    border-radius: 7px;
    color: white;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}
.rubi_btn:hover {
    background-color: #e01148;
}
.rubi_input {
    padding: 7px 12px;
    border-radius: 7px;
    border: 1px solid #C51040;
    margin-top: 10px;
    color: #303030;
}